.title {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 120px;
  margin-top: 160px;
  position: relative;
}

.title h2 {
  font-size: 24px;
  font-weight: bold;
}

.title h2::before,
.title h2::after {
  position: absolute;
  content: "";
  height: 1px;
  top: 50%;
  background: #666;
  width: calc(50% - 160px);
}

.title h2::before {
  left: 0;
}

.title h2::after {
  right: 0;
}

.news {
  margin-bottom: 100px;
  position: relative;
}

.card {
  width: 70%;
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7;
  margin: auto;
  padding: 35px;
  margin-bottom: 30px;
}

.text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 70px;
}

.text p {
  font-size: 16px;
  margin-top: 30px;
}

.pic {
/*     width: 100%; */
}

.pic img {
  width: 250px;
  height: 250px;
  border: gray solid 0.1px;
}


.button {
  position: absolute;
  left: 50%;
  transform: translateX(-60px)
}

.page {
  width: 30px;
  background-color: white;
  border: grey solid 0.5px;
  margin-left: 22px;
}

.page a {
  text-decoration: inherit;
  color: black;

}


@media screen and (max-width: 1024px) {

  .title {
    margin-bottom: 90px;
    margin-top: 150px;

  }

  .card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
  }

  .pic {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .text {
    margin-left: 30px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 728px) {
  .title {
    margin-bottom: 5vh;
    margin-top: 16vh;
  }
}