  /* ----------------導覽列------------------ */
  * {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Noto Serif TC', serif;
  }

  #menu-control {
    display: none;
  }

  .main-header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    background-color: #e8e3d4;

  }

  .main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    max-width: 1280px;
    margin: auto;

  }

  .main-header .logo {
    width: 128px;
  }

  .main-header .logo img {
    width: 100%;
    vertical-align: middle;
  }

  .main-header .main-nav {
    display: flex;
    align-content: center;
    font-size: 16px;
    margin-left: auto;
    /* 將主導覽列推到右邊 */
  }

  .main-header .main-nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 1em;
    position: relative;
    transform: translateY(0px);
    transition: 0.1s;
    display: inline-block;
  }

  .main-header .main-nav i {
    font-size: 30px;
  }

  /* ----------漂浮 ------------ */
  .main-header .main-nav a:hover {
    transform: translateY(-5px);
  }

  /*---------- 底線 -----------*/
  .main-header .main-nav a:after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    height: 0;
    bottom: -5px;
    border-bottom: 1px solid rgb(3, 112, 10);
    transition: 0.3s;
  }

  .main-header .main-nav a:hover:after {
    left: 0;
    right: 0;
  }

  .fa-solid {
    font-size: 35px;
  }

  @media screen and (max-width: 768px) {
    #menu-control {
      position: absolute;
      z-index: -2;
      opacity: 0;
    }

    .container {
      display: flex;
      flex-direction: column;
    }

    .menu-btn {
      width: 40px;
      height: 40px;
      background-color: #b9ad90;
      display: block;
      position: absolute;
      top: 15px;
      right: 10px;
    }

    .menu-btn span {
      opacity: 0;
    }

    .menu-btn::before {
      content: '';
      position: absolute;
      height: 2px;
      left: 2px;
      width: 36px;
      background-color: #ffffff;
      top: 0;
      bottom: 0;
      margin: auto;
      box-shadow: 0px 8px 0px rgb(255, 255, 255),
        0px -8px 0px rgb(255, 255, 255);
      ;

    }

    .main-nav {
      width: 80%;
      height: calc(100vh - 50px);
      background-color: #f7f1e2;
      position: absolute;
      top: 74px;
      transition: 0.5s;
      right: -100%;
      display: flex;
      flex-direction: column;
    }

    .main-nav a {
      display: block;
      text-decoration: none;
      background-color: #f7f1e2;
      padding: 10px 20px;
      border-bottom: 1px solid rgb(3, 112, 10);
      text-align: center;

      margin-bottom: 20px;
    }

    #menu-control:checked~.main-header nav {
      right: 0;
    }
  }


  @media screen and (max-width: 1024px) {
    #menu-control {
      position: absolute;
      z-index: -2;
      opacity: 0;
    }

    .container {
      display: flex;
      flex-direction: column;
    }

    .menu-btn {
      width: 40px;
      height: 40px;
      background-color: #b9ad90;
      display: block;
      position: absolute;
      top: 15px;
      right: 10px;
    }

    .menu-btn span {
      opacity: 0;
    }

    .menu-btn::before {
      content: '';
      position: absolute;
      height: 2px;
      left: 2px;
      width: 36px;
      background-color: #ffffff;
      top: 0;
      bottom: 0;
      margin: auto;
      box-shadow: 0px 8px 0px rgb(255, 255, 255),
        0px -8px 0px rgb(255, 255, 255);
      ;

    }

    .main-nav {
      width: 100%;
      height: calc(100vh - 50px);
      background-color: #f7f1e2;
      position: absolute;
      top: 74px;
      transition: 0.5s;
      right: -100%;
      display: flex;
      flex-direction: column;
    }

    .main-nav a {
      display: block;
      text-decoration: none;
      background-color: #f7f1e2;
      padding: 10px 20px;
      border-bottom: 1px solid rgb(3, 112, 10);
      text-align: center;

      margin-bottom: 20px;
    }

    #menu-control:checked~.main-header nav {
      right: 0;
    }

  }

  /* --------------輪播-------------- */

  #slideshow {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    position: relative;

  }

  .slide-pic {
    width: 100%;
  }

  .carousel-inrer {

    width: 100%;
  }

  .carousel-item {
    position: relative;
  }

  .video {
    width: 100%;
  }

  .video-text-logo {
    position: absolute;
    top: 3%;
    left: 6%;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-shadow: 0px 0px 10px white;
    width: 35%;
  }

  .video-text-logo img {
    position: absolute;
    top: 20px;
    left: -8px;
    width: 100%;

  }

  .video-logo-left {
    font-size: 200px;
    color: #316740;

  }

  .video-logo-right {
    font-size: 200px;
    color: #316740;
    position: absolute;
    left: 160px;
    top: 150px;
  }

  .video-title {
    position: absolute;
    top: 6%;
    left: 45%;
    width: 30%;
    
  }
  .video-title img{
    position: absolute;
    width: 48%;
  }


  /* <!-- ------------------------熱門商品-------------------------> */
  .hot-title {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
    position: relative;
  }

  .hot-title h2 {
    font-size: 26px;
    margin-bottom: 0;
  }

  .hot-title h2::before,
  .hot-title h2::after {
    position: absolute;
    content: "";
    height: 1px;
    top: 50%;
    background: #666;
    width: calc(50% - 160px);

  }

  .hot-title h2::before {
    left: 0;
  }

  .hot-title h2::after {
    right: 0;
  }

  .hot-title p {
    color: rgb(163, 163, 163);
    font-size: 22px;
  }

  .hot {
    display: flex;
    margin-top: 70px;
    flex-wrap: wrap;
    width: 100%;
    min-height: 814px;

    margin: auto;


    position: relative;
    overflow: hidden;
    transition: all 1s;
  }

  .hot-card-top {
    display: flex;
    width: 100%;
    justify-content: center;

    transition: all 1s;
    position: absolute;
    right: -100vw;

  }

  .hot-pic-options-top a {
    color: white;
    text-decoration: inherit;
  }

  .hot:hover .hot-card-top {
    right: 0px;

  }

  .hot-item-top {
    width: 25%;
    height: 400px;

  }

  .hot-pic-top {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

  }

  .hot-pic-top img {
    width: 100%;
    height: 400px;
    transition: 0.5s;
    

  }

  .hot-pic-top img:hover {
    transform: scale(1.2);
  }

  .hot-pic-options-top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    /* 設置背景顏色和透明度 */
    /* padding: 30px; */
    width: 100%;
    height: 25%;

  }

  .hot-pic-options-top:hover {
    background-color: rgba(255, 1, 1, 0.3);
  }

  .hot-pic-options-top:hover .hot-pic-text {
    transform: scale(1.1);
  }

  .hot-card-bottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    justify-content: center;

    transition: all 1s;
    position: absolute;
    left: -100vw;
    top: 400px;
  }

  .hot:hover .hot-card-bottom {
    left: 0px;
  }

  .hot-item-bottom {
    width: 33.333333%;  
    height: 414.24px;
    max-width: 1280px;

  }

  .hot-pic-bottom {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .hot-pic-bottom img {
    transition: 0.5s;
    width: 100%;
  }

  .hot-pic-bottom img:hover {
    transform: scale(1.2);
  }

  .hot-pic-options-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    /* 設置背景顏色和透明度 */
    /* padding: 30px; */
    width: 100%;
    height: 25%;
  }

  .hot-pic-options-bottom a {
    color: white;
    text-decoration: inherit;
  }

  .hot-pic-options-bottom:hover {
    background-color: rgba(255, 1, 1, 0.3);
  }

  .hot-pic-options-bottom:hover .hot-pic-text {
    transform: scale(1.1);
  }


  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


  /* --------------------------好吃的祕密---------------------------------- */

  .delicious {
    width: 100%;
    height: 280vh;
    background: #EFE9DC;
    padding-top: 130px;
    margin: auto;
    max-width: 1280px;
  }

  .delicious-title {
    text-align: center;
    padding-bottom: 90px;
    position: relative;
  }

  .delicious-title h2 {
    font-size: 26px;
    margin-bottom: 0;

  }

  .delicious-title h2::before,
  .delicious-title h2::after {
    position: absolute;
    content: "";
    height: 1px;
    top: 20%;
    background: #666;
    width: calc(50% - 160px);
  }

  .delicious-title h2::before {
    left: 0;
  }

  .delicious-title h2::after {
    right: 0;
  }

  .delicious-title p {
    color: rgb(163, 163, 163);
    font-size: 22px;
  }

  .delicious-art-right {
    writing-mode: vertical-rl;
    font-size: 34px;
    position: absolute;
    right: -70px;
    top: -40px;
    display: inline-block;
    transform: rotate(-360deg);
    white-space: nowrap;
    letter-spacing: 33px;
    color: rgb(126, 126, 126);
  }

  .delicious-art-left {
    writing-mode: vertical-rl;
    font-size: 34px;
    position: absolute;
    left: -90px;
    top: 110px;
    display: inline-block;
    transform: rotate(-360deg);
    white-space: nowrap;
    letter-spacing: 33px;
    color: rgb(126, 126, 126);

  }


  .delicious-card-left {
    display: flex;
    height: 355px;
    margin-left: auto;
    margin-bottom: 160px;
    width: 80%;
    justify-content: space-between;
    position: relative;
    left: -10%;
  }

  .delicious-card-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 4;
  }

  .delicious-pic-left {
    position: relative;
    top: 107px;
    width: 45%;
  }

  .delicious-txt-left {
    position: relative;
    width: 45%;
  }


  .delicious-txt-left::after {
    position: absolute;
    background: #FCF7EB;
    width: 200%;
    height: 100%;
    content: " ";
    right: 0;
    top: 0;
  }

  .delicious-txt-left h2 {
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 36px;
    position: relative;
    z-index: 3;
    top: 15%;
  }

  .delicious-txt-left p {
    font-size: 20px;
    position: relative;
    z-index: 3;
    top: 15%;

  }

  .delicious-card-right {
    display: flex;
    height: 355px;
    margin-left: auto;
    margin-bottom: 160px;
    width: 80%;
    justify-content: space-between;
    position: relative;
    left: -10%;
  }

  .delicious-card-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 4;
  }

  .delicious-pic-right {
    position: relative;
    top: 107px;
    width: 45%;
  }

  .delicious-txt-right {
    position: relative;
    width: 45%;
  }

  .delicious-txt-right::after {
    position: absolute;
    background: #FCF7EB;
    width: 200%;
    height: 100%;
    content: " ";
    right: -96%;
    top: 0;
  }

  .delicious-txt-right h2 {
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 36px;
    position: relative;
    z-index: 3;
    top: 15%;
    margin-left: 20px;

  }

  .delicious-txt-right p {
    font-size: 20px;
    position: relative;
    z-index: 3;
    top: 15%;
    margin-left: 20px;
  }


  .delicious-card-left-bottom {
    display: flex;
    height: 355px;
    margin-left: auto;
    margin-bottom: 160px;
    width: 80%;
    justify-content: space-between;
    position: relative;
    left: -10%;

  }

  .delicious-card-left-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 4;
  }

  .delicious-pic-left-up {
    position: relative;
    top: 107px;
    width: 45%;
  }

  .delicious-txt-left-up::after {
    position: absolute;
    background: #FCF7EB;
    width: 200%;
    height: 100%;
    content: " ";
    right: 0;
    top: 0;
  }

  .decorate-right {
    width: 20px;
  }

  /* -------------------------甜點師-------------------------------- */
  .baker {
    max-width: 1280px;
    margin: auto;
  }

  .baker-title {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
  }

  .baker-title h2 {
    font-size: 26px;
    margin-bottom: 0;
  }

  .baker-title h2::before,
  .baker-title h2::after {
    position: absolute;
    content: "";
    height: 1px;
    top: 35%;
    background: #666;
    width: calc(50% - 160px);
  }

  .baker-title h2::before {
    left: 0;
  }

  .baker-title h2::after {
    right: 0;
  }

  .baker-title p {
    color: rgb(163, 163, 163);
    font-size: 22px;
  }

  .baker-title {
    margin-top: 50px;
  }

  .baker-item {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .baker-card-long {
    display: flex;
    width: 80%;
    margin: auto;
  }

  .baker-pic-long {
    margin-top: 110px;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 486px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-3deg);
  }

  .baker-pic-long::after {
    width: 110%;
    height: 110%;
    content: " ";
    background-color: white;
    display: block;
    position: relative;
    top: -105%;
    z-index: -1;
    left: -5%;
  }

  .baker-pic-long img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .baker-resume-long {
    background-color: rgba(255, 255, 255, 0.724);
    width: 50%;
    height: 296px;
    margin-top: 205px;
    margin-left: 20px;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
  }

  .baker-resume-long li {
    margin-left: 50px;
    margin-right: 5px;
  }

  .baker-resume-long h3 {
    margin-bottom: 35px;
    margin-left: 60px;
    margin-top: 35px;

  }

  .baker-card-width {
    display: flex;
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .baker-pic-width {
    margin-top: 25px;
    margin-left: 70px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 379px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(2deg);
    position: relative;

  }

  .baker-pic-width::after {
    width: 110%;
    height: 110%;
    content: " ";
    background-color: white;
    display: block;
    position: absolute;
    top: -5%;
    z-index: -1;
    left: -5%;
  }

  .baker-pic-width img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .baker-resume-width {
    background-color: rgba(255, 255, 255, 0.724);
    width: 50%;
    height: 296px;
    margin-top: 51px;
    margin-left: auto;
    margin-bottom: 110px;
  }

  .baker-resume-width li {
    margin-left: 40px;
    margin-right: 5px;
  }

  .baker-resume-width h3 {
    margin-bottom: 35px;
    margin-left: 60px;
    margin-top: 35px;
  }

  .baker-card-width-right {
    display: flex;
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .baker-pic-width-right {
    margin-top: 0px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 379px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-2deg);
    position: relative;
  }

  .baker-pic-width-right::after {
    width: 110%;
    height: 110%;
    content: " ";
    background-color: white;
    display: block;
    position: absolute;
    top: -5%;
    z-index: -1;
    left: -5%;
  }

  .baker-pic-width-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .baker-resume-width-right {
    background-color: rgba(255, 255, 255, 0.724);
    width: 50%;
    height: 296px;
    margin-top: 51px;
    margin-left: auto;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
  }

  .baker-resume-width-right li {
    margin-left: 20px;
    margin-right: 5px;
  }

  .baker-resume-width-right h3 {
    margin-bottom: 35px;
    margin-left: 60px;
    margin-top: 35px;
  }

  /* <!--------------------評論----------------------------- --> */
  .marquee {
    height: 210px;
    width: 100%;
    display: flex;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    max-width: 1280px;
  }

  .comment {
    display: flex;
    width: 450px;
    height: 120px;
    margin-top: 100px;
    animation: scroll 15s linear infinite;
    flex-shrink: 0;
  }

  .comment-photo-mj {
    width: 85px;
    height: 85px;
    background-color: red;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 30px;
  }

  .comment-photo-kb {
    width: 85px;
    height: 85px;
    background-color: rgb(255, 170, 0);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 30px;
  }

  .comment-photo-lbj {
    width: 85px;
    height: 85px;
    background-color: rgb(255, 0, 111);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 30px;
  }

  .marquee-reverse {
    height: 350px;
    width: 100%;
    display: flex;
    margin: auto;
    overflow: hidden;
    max-width: 1280px;

  }

  .comment-reverse {
    display: flex;
    width: 450px;
    height: 120px;
    margin-top: 35px;
    animation: scroll2 15s linear infinite;
    animation-delay: -3s;
    flex-shrink: 0;

  }

  .comment-photo-super {
    width: 85px;
    height: 85px;
    background-color: rgb(238, 255, 0);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 30px;
  }

  .comment-photo-bat {
    width: 85px;
    height: 85px;
    background-color: rgb(204, 0, 255);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 30px;
  }

  .comment-photo-iron {
    width: 85px;
    height: 85px;
    background-color: rgb(255, 0, 0);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 30px;
  }

  @keyframes scroll {
    from {
      transform: translateX(350%)
    }

    to {
      transform: translateX(-300%)
    }
  }

  @keyframes scroll2 {
    from {
      transform: translateX(-300%)
    }

    to {
      transform: translateX(350%)
    }
  }

  
  .comment-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
  }

  .comment-name {
    font-size: 22px;
    font-weight: bold;
    margin-top: 16px;
  }

  .comment-text {
    font-size: 16px;
    font-weight: bold;
  }

  .comment-star {
    position: relative;
    right: 114px;
    vertical-align: middle;
    display: inline-block;
    color: #ddd;
    /*背景星星顏色*/
    overflow: hidden;
    font-size: 30px;
    /*調整字體大小可放大縮小星星*/
    letter-spacing: 7px;
  }

  .comment-star-full {
    width: 100%;
    /*調整寬度可變更星等*/
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ffe600;
    /*前景星星顏色*/
  }

  /*----------------------頁尾------------------------- */
  .footer {
    /* height: 173px; */
    width: 100%;
    background-color: #D6D1C2;

  }

  .footer-container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
  }

  .footer-item {
    min-width: 230px;

  }

  .footer-title {
    font-size: 18px;

  }

  .footer-info {
    font-size: 12px;
    margin-top: 15px;
  }

  .footer-item h4 {
    color: #525B1B;
    margin-top: 10px;

  }

  .footer-info p {
    line-height: 0.5;
    font-weight: 400;
    color: #91997C;
    margin-bottom: 14px;
  }

  .foter-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;

  }

  .footer-logo img {
    width: 230px;

  }


  .footer-icon {
    display: flex;
    flex-direction: column;
    min-width: 170px;
    width: 230px;
  }

  .footer-ig {
    display: flex;
    color: #91997C;
  }

  .footer-ig-pic {
    font-size: 45px;
    margin-bottom: -10px;
    margin-top: -10px;

  }

  .footer-ig-id {
    font-size: 12px;
    margin-top: 13px;
    margin-left: 25px;
    font-weight: bold;
  }

  .footer-fb {
    display: flex;
    margin-top: -5px;
    color: #91997C;
  }

  .footer-fb-pic {
    font-size: 40px;
    margin-bottom: -10px;

  }

  .footer-fb-id {
    font-size: 12px;
    margin-top: 22px;
    margin-left: 25px;
    font-weight: bold;
  }

  .footer-credit {
    font-size: 30px;
    margin-top: -2px;
    letter-spacing: 10px;
    padding-left: 3px;
    color: #91997C;
  }
  .body{
    position: relative;
  }
.up{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 45px;
  z-index: 5;
  
}

  /* -------- */
  @media screen and (max-width: 1024px) {
    .footer-container {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;

    }

  }


  @media screen and (max-width: 768px) {
    .up{
      bottom: 8px;
      right: 8px;
      width: 40px;
    }


    .main-header .container{
      padding: 5px;
    }

    .footer {
      width: 100%;
      background-color: #D6D1C2;
      /* margin: auto; */
      display: flex;
      flex-direction: column;
    }

    .footer-container {
      padding: 30px;
      display: flex;
      flex-direction: column;
    }

    .footer-title {
      font-size: 18px;

    }

    .footer-info {
      font-size: 12px;
      margin-top: 15px;
    }

    .footer-item {
      order: 2;
      transform: translateX(0px);

    }

    .footer-item h4 {
      color: #525B1B;
      margin-top: 10px;
      text-align: center;
    }

    .footer-info p {
      line-height: 0.5;
      font-weight: 400;
      color: #91997C;
      margin-bottom: 14px;

    }

    .foter-logo {
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .footer-logo img {
      width: 230px;
      margin-top: 10px;

    }


    .footer-icon {
      display: flex;
      flex-direction: column;
      order: 1;
      padding: 50px 0;
    }

    .footer-ig {
      display: flex;
      color: #91997C;
      transform: translateX(30px);
    }

    .footer-ig-pic {
      font-size: 45px;
      margin-bottom: -10px;
      margin-top: -10px;

    }

    .footer-ig-id {
      font-size: 12px;
      margin-top: 13px;
      margin-left: 25px;
      font-weight: bold;
    }

    .footer-fb {
      display: flex;
      margin-top: -5px;
      color: #91997C;
      transform: translateX(30px);

    }

    .footer-fb-pic {
      font-size: 40px;
      margin-bottom: -10px;

    }

    .footer-fb-id {
      font-size: 12px;
      margin-top: 22px;
      margin-left: 25px;
      font-weight: bold;
    }

    .footer-credit {
      font-size: 30px;
      margin-top: -2px;
      letter-spacing: 10px;
      padding-left: 3px;
      color: #91997C;
      transform: translateX(30px);

    }
  }

  /* .copyright {
    font-size: 12px;
    text-align: center;
  } */



  @media screen and (max-width: 728px) {

    /* -----熱門商品----- */
    .hot-card-top {
      position: static;
      display: flex;
      flex-wrap: wrap;
    }

    .hot-item-top {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      height: 210px;
    }

    .hot-item-top img {
      width: 100%;
      position: absolute;
      top: -85px;
    }

    .hot-pic-options-top{
      height: 25%;
    }

    .hot-card-bottom {
      position: static;
      display: flex;
      flex-wrap: wrap;
    }

    .hot-item-bottom {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      height: 210px;
    }

    .hot-item-bottom img {
      width: 100%;
      height: 100%;
    }
.hot-pic-bottom{
  height: 100%;
}
    .hot-pic-options-bottom{
      height: 25%;
    }
#hot-item-bottom-last{
}
    #hot-pic-bottom-last{
      height: 100%;
      object-fit: cover;
    }


    /* -------好吃的祕密------ */
    .delicious{
      height: 410vh;
    }
    .delicious-art {
      display: none;
    }

    .delicious-card-left {
      width: 100%;
      height: auto;
      left: 0%;
      flex-direction: column;

    }

    .delicious-pic-left {
      width: 100%;
    }

    .delicious-pic-left img {
      top: -105px;
    }

    .delicious-txt-left {
      width: 100%;
      left: 0;

    }

    .delicious-txt-left::after {
      width: 100%;
    }

    .delicious-txt-left h2 {
      font-size: 28px;
      padding-left: 10px;
    }

    .delicious-txt-left p {
      font-size: 16px;
      padding-left: 10px;

    }




    .delicious-card-right {
      width: 100%;
      height: auto;
      left: 0%;
      flex-direction: column;
      top: -1%;
      margin-bottom: 120px;
    }

    .delicious-txt-right {
      width: 100%;
      /* left: 20px; */
    }

    .delicious-txt-right::after {
      width: 100%;
      right: 0;
    }

    .delicious-pic-right {
      width: 100%;

    }

    .delicious-pic-right img {
      top: -105px;
    }






    .delicious-card-left-bottom {
      width: 100%;
      height: auto;
      left: 0%;
      flex-direction: column;
    }

    .delicious-pic-left-up {
      width: 100%;
    }

    .delicious-pic-left-up img {
      top: -100px;

    }

    .delicious-art-right {
      display: none;
    }

    .delicious-art-left {
      display: none;
    }



    /* ----甜點師---- */

    .baker {
      padding-bottom: 10px;
    }

    .baker-card-long {
      flex-direction: column;
    }

    .baker-pic-long {
      margin-left: 0;
      width: 100%;
      transform: rotate(0deg);
    }

    .baker-resume-long {
      margin-top: 30px;
      width: 95%;
    }

    .baker-resume-long h3 {
      margin-top: 30px;
    }

    .baker-resume-long li {
      margin-left: 20px;
    }

    .baker-card-width-right {
      flex-direction: column;
    }

    .baker-resume-width-right {
      width: 95%;
    }

    .baker-pic-width-right {
      margin-left: 0;
      width: 100%;
      transform: rotate(0deg);
      margin-top: 25px;
    }



    .baker-card-width {
      flex-direction: column;
    }

    .baker-resume-width {
      margin-top: 25px;
      width: 95%;
      margin-bottom: 25px
    }

    .baker-pic-width {
      margin-left: 0;
      width: 100%;
      transform: rotate(0deg);
      margin-top: 25px;
    }

    [class*='col-'] {
      box-sizing: border-box;

    }

    .col-1 {
      width: 8.333333%
    }

    .col-2 {
      width: 16.666666%
    }

    .col-3 {
      width: 25%
    }

    .col-4 {
      width: 33.333333%
    }

    .col-5 {
      width: 41.666666%
    }

    .col-6 {
      width: 50%
    }

    .col-7 {
      width: 58.333333%
    }

    .col-8 {
      width: 66.666666%
    }

    .col-9 {
      width: 75%
    }

    .col-10 {
      width: 83.3333333%
    }

    .col-11 {
      width: 91.666666%
    }

    .col-12 {
      width: 100%
    }
  }